<% layout("layouts/boilerplate") %>
  <body>
    <style>
      #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 0.5rem;
      }
      .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
      }
      .filter:hover {
        opacity: 1;
        cursor: pointer;
      }
      .filter p {
        font-size: 0.85rem;
      }

      .tax-toggle {
        border: 2px solid gainsboro;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        height:fit-content;
        padding: 0.75rem;
        margin-top: 0.7rem;
        margin-left: auto;
      }
      .tax-toggle:hover {
        cursor: pointer;
      }

    </style>
    <div id="filters">
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-fire"></i> 
        <p>Trending</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-mountain-city"></i>
        <p>Iconic Cities</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Pools</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-brands fa-fort-awesome"></i>
        <p>Castles</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-campground"></i>
        <p>Camps</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-cow"></i>
        <p>Farms</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-sailboat"></i>
        <p>Boats</p>
      </div>
      <div class="filter" onclick="comingSoon()">
        <i class="fa-solid fa-snowflake"></i>
        <p>Arctic</p>
      </div>
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input tax-switch" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card col listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b> <br>
                <span class="before-tax"><b>&#8377; <%= listing.price.toLocaleString("en-IN") %></b> / night</span>   
                <span class="after-tax d-none"><b>&#8377; <%= Math.round(listing.price * 1.15).toLocaleString("en-IN") %></b> / night&nbsp;&nbsp;<span style="opacity: 0.8;">(incl. taxes)</span></span>
              </p>

            </div>
          </div>
        </a>
        <% } %>
    </div>

  <script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    let beforeTax = document.querySelectorAll(".before-tax");
    let afterTax = document.querySelectorAll(".after-tax");

    taxSwitch.addEventListener("click", () => {
      let showAfter = taxSwitch.checked;
    
      beforeTax.forEach(el => el.classList.toggle("d-none", showAfter));
      afterTax .forEach(el => el.classList.toggle("d-none", !showAfter));
    });

    function comingSoon() {
      alert("🚀 This feature is coming soon!");
    }

  </script>
</body>